.test{
    display: flex;
    flex-direction: column;
    height: 850px;

    background-image: url(image-2.png);
    background-size: cover;
    background-position: center;
}

.top-row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    color: #324950;
    padding-right: 60px;
}

.image{
    margin-right: auto;
    margin-left: 10%;
    margin-top: 20px;
}

.right-block{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search{
    display: flex;
    align-items: center;
    gap: 294px;
    width: 370px;
    border-bottom: 2px solid #324950;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: auto;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #324950;
}

.menu{
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.center-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.schreibt1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 142.7%;
    text-align: center;
    color: #735440;
}

.but{
    background-color: #57984C;
    width: 160px;
    height: 55px;
    color: white;
    border: none;
}

.box3{
    text-decoration: none;
    color: #324950;
    cursor: pointer;
}

.image a {
    display: inline-block;
}
